<p style="color: green"><%= notice %></p>

<%= render @set_role %>

<div>
  <%= link_to "Edit this set role", edit_set_role_path(@set_role) %> |
  <%= link_to "Back to set roles", set_roles_path %>

  <%= button_to "Destroy this set role", @set_role, method: :delete %>
</div>
