
<div id="<%= dom_id admin %>">
  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= admin.first_name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= admin.last_name %>
  </p>

  <p>
  <strong> Roles: </strong>
  <% admin.set_roles.each do |role| %>
    <p>
    <%= role.role.role_name %>
    </p>
  <% end %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= admin.address %>
  </p>

  <p>
    <strong>UIN:</strong>
    <%= admin.uin %>
  </p>

  <p>
    <strong>Are AOR Documents Completed:</strong>
    <%= admin.aor_completed ? "yes" : "no" %>

  </p>

    <p>
    <strong>Are Boat Waiver Completed:</strong>
    <%= admin.boat_waiver_completed ? "yes" : "no" %>

  </p>

    <p>
    <strong>Are Dues Completed:</strong>
    <%= admin.dues_completed ? "yes" : "no" %>

  </p>
 <p>
    <strong>Is Account Approved:</strong>
    <%= admin.is_approved ? "yes" : "no" %>
  </p>

  <p>
    <strong>Created On:</strong>
    <%= admin.created_at %>
  </p>

  
</div>