<div id="<%= dom_id admin %>">
  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= admin.first_name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= admin.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= admin.role_id %>
  </p>

  <p>
    <strong>Are Documents Signed:</strong>
    <%= admin.documents_signed %>
  </p>

  <p>
    <strong>Created On:</strong>
    <%= admin.created_at %>
  </p>

  
</div>
