<style>
  label {
    display: inline-block;
    width: 200px;
    text-align: right;
    padding-right: 10px;
  }
  input {
    display: inline-block;
    width: 200px;
    text-align: left;
  }
</style>

<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :firstname %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :lastname %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :uin %>
    <%= form.number_field :uin %>
  </div>

  <div>
    <%= form.submit "Update Account Info", class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 transition-all duration-250 text-neutral-100" %>
  </div>
<% end %>
