<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :firstname, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :uin, style: "display: block" %>
    <%= form.number_field :uin %>
  </div>

  <div>
    <%= form.label :aor_completed, style: "display: block" %>
    <%= form.check_box :aor_completed %>
  </div>

  <div>
    <%= form.label :boat_waiver_completed, style: "display: block" %>
    <%= form.check_box :boat_waiver_completed %>
  </div>

<div>
    <%= form.label :dues_completed, style: "display: block" %>
    <%= form.check_box :dues_completed %>
  </div>


    <div>
    <%= form.label :is_approved, style: "display: block"%>
    <%= form.check_box :is_approved %>
  </div>

  <div>
    <%= form.submit "Update Account Info" %>
  </div>
<% end %>
