<style>
  label {
    display: inline-block;
    width: 200px;
    text-align: right;
    padding-right: 10px;
  }
  input {
    display: inline-block;
    width: 200px;
    text-align: left;
  }
</style>

<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :firstname, "Firstname: "%>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :lastname, "Lastname: "%>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :address, "Address: " %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :uin, "UIN: " %>
    <%= form.number_field :uin %>
  </div>

  <div>
    <%= form.label :aor_completed, "Are AOR Forms Completed: " %>
    <%= form.check_box :aor_completed %>
  </div>

  <div>
    <%= form.label :boat_waiver_completed, "Are Boat Waivers Completed: "%>
    <%= form.check_box :boat_waiver_completed %>
  </div>

<div>
    <%= form.label :dues_completed, "Are Dues Completed: " %>
    <%= form.check_box :dues_completed %>
  </div>


    <div>
    <%= form.label :is_approved, "Is Account Approved: " %>
    <%= form.check_box :is_approved %>
  </div>

  <div class = "flex justify-center">
    <%= form.submit "Update Account Info", class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100 text-center" %>
  </div>
<% end %>
