<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>



  <%= render "/navbar"%>
  
  <p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>Editing User</pageTitleHolder>
</h1>

<mainContentHolder>

  <!-- This section is shown if whoever is editing is an admin-->
  <% if (current_admin.role_id == 1) or (current_admin.role_id >= -1) %>
    <h1>Editing Member</h1>
      <%= render "form", admin: @user %>
      <%= form_with url: add_role_admin_path, method: :post do |form| %>
        <%= form.select :role_id, Role.all.map { |role| [role.role_name, role.id] } %>
        <%= form.submit "Add Role" %>
      <% end %>

  <!-- This section is shown to anyone else-->
  <% else %>
    <h1> Editing Account Info </h1>
    <%= render "form_for_nonadmin", admin: @user %>
  <% end %>

  <br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
  <%= button_to 'Destroy', @user, method: :delete, :onclick => "return confirm('Are you sure you want to delete this user?')" %>
</div>
  
</mainContentHolder>