<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>



  <%= render "/navbar"%>
  <p class="bannerBox"></p>

<mainContentHolder>

  <%= render @user %>
  <table>
    <thead> <th> Current Roles </th> </thead>
    <% @roles.each do |role| %>
      <tbody> 
      <tr> 
      <td> <%= role.role.role_name %> </td> 
      </tr>
      </tbody>
    <% end %>
  </table> 

<div>
  <%= link_to "Edit this user", edit_admin_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <%= button_to 'Destroy', @user, method: :delete, :onclick => "return confirm('Are you sure you want to delete this user?')" %>
</div>
  
</mainContentHolder>


