
<tr>
  <td>
    <%= user_to_display.email %>
  </td>

  <td>
    <%= user_to_display.first_name %>
  </td>

  <td>
    <%= user_to_display.last_name %>
  </td>

  <td>
    <% user_to_display.set_roles.each do |role| %>
      <p>
      <%= role.role.role_name %>
      </p>
    <% end %>
  </td>
  <td>
    <%= user_to_display.aor_completed ? "yes" : "no" %>
  </td>

  <td>
    <%= user_to_display.boat_waiver_completed ? "yes" : "no"%>
  </td>

  <td>
    <%= user_to_display.dues_completed ? "yes" : "no" %>
  </td>
  <td>
   <%= link_to "Edit", edit_admin_path(user_to_display), class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100 text-center" %>
  </td>
 
   <td>
    <%= link_to "Show", user_to_display, class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100 text-center" %>
  </td>
  
</tr>
