<div id="<%= dom_id user %>">

  <%= form_with url: users_path, method: 'get', id: 'search-form' do |f| %>
    <%= f.text_field :first_name, placeholder: 'Search by first name....', class: 'form-control' %>
    <%= f.text_field :last_name, placeholder: 'Search by last name....', class: 'form-control' %>
  <% end %>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= user.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role_id %>
  </p>

  <p>
    <strong>Are Documents Signed:</strong>
    <%= user.documents_signed %>
  </p>

  <p>
    <strong>UIN:</strong>
    <%= user.uin %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Created On:</strong>
    <%= user.created_at %>
  </p>
  
</div>
