<tr>
  <td>
    <%= user.email %>
  </td>

  <td>
    <%= user.firstname %>
  </td>

  <td>
    <%= user.lastname %>
  </td>

  <td>
    <%= user.role_id %>
  </td>

  <td>
    <%= user.documents_signed %>
  </td>

  <td>
    <%= user.uin %>
  </td>

  <td>
    <%= user.address %>
  </td>

  <td>
    <%= user.created_at %>
  </td>  
  

</tr>
