<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= user.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role_id %>
  </p>

  <p>
    <strong>Are Documents Signed:</strong>
    <%= user.documents_signed %>
  </p>

  <p>
    <strong>Created On:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>UIN:</strong>
    <%= user.uin %>
  </p>

  <p>
    <strong>address:</strong>
    <%= user.address %>
  </p>
  
</div>
