<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Approve New Users | TAMU Wakeboarding" %>
</head>

<p class="bannerBox"></p>

<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>Users to Approve</pageTitleHolder>
</h1>

<mainContentHolder>

<%= link_to 'Current Users', users_path, class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100" %>
  <br>
<%= form_with url: users_to_approve_path, method: 'get', id: 'search-form' do |f| %>
  <%= f.text_field :first_name, placeholder: 'Search by first name....', class: 'form-control' %>
  <%= f.text_field :last_name, placeholder: 'Search by last name....', class: 'form-control' %>
  <%= f.submit "Find Member (Case Sensitive)", class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100" %>
<% end %>

<div id="admins">
  <table class='user_table'>
    <thead>
      <tr>
        <th>Email</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Creation Date</th>
      </tr>
    </thead>
    <% @users.each do |user_to_display| %>
      <tbody>
        <%= render partial: 'approval', locals: { user_to_display: user_to_display } %>
      </tbody>
    <% end %>
  </table>
</div>

</mainContentHolder>





