<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>


<ul>

  <a href="#"><banner>TAMU WAKE</banner></a>
  
  <a href="#"><p class="navbar navbarRightEnd"><%= link_to "Reciepts", receipts_path %></p></a>
  <a href="#"><p class="navbar currentPage"><%= link_to "Members", users_path %></p></a>
  <a href="#"><p class="navbar"> <%= link_to "Account", accounts_path %></p></a>
  <a href="#"><p class="navbar navbarLeftEnd"><%= link_to "Rides", wakeboard_sets_path %></p></a>
  
  <p class="bannerBox"></p>

<%= link_to 'Current Users', users_path %>

<h1>Users to Approve</h1>

<div id="admins">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to 'Edit', edit_admin_path(user) %>
    </p>
  <% end %>
</div>

<br>


  
</ul>





