<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>



<ul>

  <%= render "/navbar"%>
  
  <p class="bannerBox"></p>

<%= link_to 'Approve New Users', users_to_approve_path %>

<h1>Users</h1>

<%= form_with url: users_path, method: 'get', id: 'search-form' do |f| %>
  <%= f.text_field :first_name, placeholder: 'Search by first name....', class: 'form-control' %>
  <%= f.text_field :last_name, placeholder: 'Search by last name....', class: 'form-control' %>
  <%= f.submit "Find Member", class: "btn" %>
<% end %>

<div id="admins">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to 'Edit', edit_admin_path(user) %> | <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>


<br>


  
</ul>





