<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <a href="#"><banner>TAMU WAKE</banner></a>
  
    <a href="#"><p class="navbar navbarSettings">Settings</p></a>
  <a href="#"><p class="navbar"><%= link_to "Reciepts Index", receipts_path %></p></a>
  <a href="#"><p class="navbar currentPage"><%= link_to "Users index", users_path %></p></a>
  <a href="#"><p class="navbar">Account</p></a>
  <a href="#"><p class="navbar"><%= link_to "Wakeboard sets", wakeboard_sets_path %></p></a>
  <a href="#"><p class="navbar navbarHome">Home</p></a>
  
  <p class="bannerBox"></p>

  <h1>Users</h1>

  <div id="users">
    <% @users.each do |user| %>
      <%= render user %>
      <p>
        <%= link_to "Show this user", user %> | <%= link_to "Destroy this user", @user, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      </p>
    <% end %>
  </div>

  <%= link_to "New user", new_user_path %>
  <br>
 
</ul>





