<div class="sticky top-0 z-50 flex flex-col w-full border-b bg-tamu-red">
    <nav class="flex flex-row flex-wrap px-3 py-5 w-full items-center justify-between md:justify-start">
        <div class="md:hidden pr-3">
            <button role="button" type="button" class="p-2" id="nav-dropdown-btn" onclick="toggle()">
                <i class="fa-solid fa-bars text-white"></i>
            </button>
        </div>
        <div class="">
            <div class="w-32">
                <%= link_to home_path do %>
                    <%= image_tag "TAMUWake_Logo_1.png", class: "w-full" %>
                <% end %>
            </div>
        </div>
        <div class="hidden ml-5 md:flex">
            <% if current_admin and (current_admin.has_role?("Admin") or current_admin.has_role?("Treasurer") or current_admin.has_role?("Driver")) %>
                <%= link_to "Receipts", receipts_path, class: "text-white mx-1" %>
            <% end %>
            <% if current_admin and current_admin.has_role?("Admin") %>
                <%= link_to "Members", users_path, class: "text-white mx-1" %>
            <% end %>
            <%= link_to "Rides", wakeboard_sets_path, class: "text-white mx-1" %>
            <%= link_to "Help", help_path, class: "text-white mx-1" %>
        </div>
        <div class="md:ml-auto">
            <% if current_admin %>
                <%= link_to accounts_path, class: "group" do %>
                    <div class="w-10 h-10">
                        <% if current_admin.avatar_url.present? %>
                            <%= image_tag current_admin.avatar_url, alt: "Your Profile", title: "Your Profile", class: "w-full rounded-full" %>
                        <% else %>
                            <div class="border rounded-full h-full flex justify-center items-center">
                                <i class="fa-solid fa-user text-slate-100"></i>
                            </div>
                        <% end %>
                    </div>
                    <div class="absolute opacity-0 group-hover:block group-hover:opacity-100 text-xs text-center bg-white p-1 rounded text-slate-900 transition-all duration-150">Profile</div>
                <% end %>
            <% else %>
                <%= link_to "Sign In", admin_google_oauth2_omniauth_authorize_path %>
            <% end %>
        </div>
    </nav>
    <div class="hidden md:hidden box-shadow bg-tamu-red px-1 py-2 border-t border-slate-600 w-full flex flex-col space-y-2" id="nav-dropdown">
        <% if current_admin and (current_admin.has_role?("Admin") or current_admin.has_role?("Treasurer") or current_admin.has_role?("Driver")) %>
            <%= link_to "Receipts", receipts_path, class: "text-white mx-1" %>
        <% end %>
        <% if current_admin and current_admin.has_role?("Admin") %>
            <%= link_to "Members", users_path, class: "text-white mx-1" %>
        <% end %>
        <%= link_to "Rides", wakeboard_sets_path, class: "text-white mx-1" %>
        <%= link_to "Help", help_path, class: "text-white mx-1" %>
    </div>
</div>

<script type="text/javascript">
    dropdown = document.querySelector("#nav-dropdown")
    const toggle = () => {
        dropdown.classList.toggle("hidden")
    }
</script>