<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Your Account | TAMU Wakeboarding" %>
</head>
  
  <%= render "/navbar"%>
  
  <p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>  Welcome to the TAMUWake Website <%=@user.first_name%>!</pageTitleHolder>
</h1>


<br>
<br>
<br>
<br>
  <div class="container mx-auto px-4 text-center ">
       
      <div class="grid grid-cols-2 gap-4 bg-white shadow-md rounded-lg p-6">
        <div>
          <div class = " w-36 h-36">
            <img src=<%=@user.avatar_url %> alt="Image not found" class=" rounded-full w-full h-auto">
          </div>
        </div>
        <div>
          <%= render @user %>
        </div>
    </div>
     <%= link_to 'Edit Account Info', edit_admin_path(@user),class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100" %> 
  <%= link_to "My Set History", set_history_path,class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100"%>
  <%= link_to "Sign Out", destroy_admin_session_path,class: "border rounded-md px-3 py-1 bg-sky-500 hover:bg-sky-700 text-neutral-100" %>
  </div>
 