<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Your Account | TAMU Wakeboarding" %>
</head>

  <%= render "/navbar"%>

  <p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>  Welcome to the TAMUWake Website <%=@user.first_name%>!</pageTitleHolder>
</h1>

<mainContentHolder>

  <%= link_to "My History", set_history_path %>
  
  <img src=<%=@user.avatar_url %> alt="Image not found" height="250" width="250">
  <%= render @user %>
  <%= link_to 'Edit Account Info', edit_admin_path(@user) %> 
  <%= link_to "Sign Out", destroy_admin_session_path %>
  
</mainContentHolder>