<div>  
    <a href="#"><p class="title"> <%= link_to "TAMU Wake", home_path %></p></a>
    <a href="#"><p class="navbar"><%= link_to "Receipts", receipts_path %></p></a>
    <a href="#"><p class="navbar"><%= link_to "Members", users_path %></p></a>
    <a href="#"><p class="navbar"> <%= link_to "Account", accounts_path %></p></a>
    <a href="#"><p class="navbar"><%= link_to "Rides", wakeboard_sets_path %></p></a>
    <a href="#"><p class="navbar navbarRightEnd"> <%= link_to "Help", help_path %></p></a>
</div>