<%= link_to receipt do %>
  <div class="flex flex-row py-3 px-3 mb-3 bg-neutral-200 items-center rounded-lg z-10">
    <div class="w-10 mr-4">
      <% if !receipt.admin.nil? and receipt.admin.avatar_url.present?%>
        <img src="<%= receipt.admin.avatar_url %>" class="w-full object-fit rounded-full" />
      <% else %>
        <div class="flex w-8 h-8 justify-center items-center rounded-full bg-sky-600 text-neutral-50">
          <i class="fa-solid fa-ship"></i>
        </div>
      <% end %>
    </div>

    <div class="flex-3 w-full items-between">
      <div class="flex flex-row justify-between">
        <p><%= receipt.admin.try(:first_name) + " " + receipt.admin.try(:last_name) %></p>
        <p class="text-emerald-400 font-medium">$<%= receipt.value %></p>
      </div>

      <p class="text-sm text-neutral-500"><%= receipt.date_made.strftime("%-d %b, %Y") %></p>
    </div>
  </div>
<% end %>