<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <a href="#"><banner>TAMU WAKE</banner></a>
  
  <a href="#"><p class="navbar currentPage navbarRightEnd"><%= link_to "Reciepts", receipts_path %></p></a>
  <a href="#"><p class="navbar"><%= link_to "Members", users_path %></p></a>
  <a href="#"><p class="navbar">Account</p></a>
  <a href="#"><p class="navbar navbarLeftEnd"><%= link_to "Rides", wakeboard_sets_path %></p></a>
  
  <p class="bannerBox"></p>

  <div id="<%= dom_id receipt %>">

  <div hidden>
    <%= @receipt_user = Admin.find_by(:id => receipt.user_id) %>
  </div>

  <p>
    <strong>Receipt ID:</strong>
    <%= receipt.id %>
  </p>

  <p>
    <strong>Receipt Uploader's User ID:</strong>
    <%= receipt.user_id %>
  </p>

  <p>
    <strong>Receipt's Uploader's Name:</strong>
    <%= @receipt_user.first_name %> <%= @receipt_user.last_name %>
  </p>

  <p>
    <strong>Receipt's Uploader's UIN:</strong>
    <%= @receipt_user.uin %>
  </p>

  <p>
    <strong>Receipt's Uploader's Address:</strong>
    <%= @receipt_user.address %>
  </p>

  <p>
    <strong>Receipt Value: $</strong>
    <%= receipt.value %>
  </p>

  <p>
    <strong>Date made:</strong>
    <%= receipt.date_made %>
  </p>

  <p>
    <strong>Date approved:</strong>
    <%= receipt.date_approved %>
  </p>

  <p>
    <strong>Date refunded:</strong>
    <%= receipt.date_refunded %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= receipt.stage %>
  </p>

  <p>
    <strong>Image Link:</strong>
    <%= receipt.image_link %>
  </p>

    <strong>Image:</strong>
    </br>
    <img src=<%=receipt.image_link %> alt="Image not found" height="500" width="500">
  </p>


</div>
</ul>





