<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <a href="#"><banner>TAMU WAKE</banner></a>
  
  <a href="#"><p class="navbar currentPage navbarRightEnd"><%= link_to "Reciepts", receipts_path %></p></a>
  <a href="#"><p class="navbar"><%= link_to "Members", users_path %></p></a>
  <a href="#"><p class="navbar">Account</p></a>
  <a href="#"><p class="navbar navbarLeftEnd"><%= link_to "Rides", wakeboard_sets_path %></p></a>
  
  <p class="bannerBox"></p>

  <div hidden>
    <%= @user = User.find_by(:email => current_admin.email) %>
    <p> <%= @user.id %> </p>
  </div>
 
  

  <!-- This section will only be shown if the user is a treasurer (code 3) -->
  <% if @user.role_id == 3 %>
    <h1>Editing receipt</h1>
    <%= render "form", receipt: @receipt %>

  <!-- This section will only be shown if the user is the driver who uploaded the receipt -->
  <% elsif (@user.role_id == 1) and (@receipt.user_id == @user.id) %>
    <h1>I got my refund</h1>
    <%= render "form_driver_2", receipt: @receipt %>

  <!-- This section is shown to anyone else-->
  <% else %>
    <h1> Only the treasurer can edit receipts </h1>
  <% end %>

  <br>

  <div>
    <%= link_to "Show this receipt", @receipt %> |
    <%= link_to "Back to receipts", receipts_path %>
  </div>
 
</ul>



