<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <%= render "/navbar"%>
  <p class="bannerBox"></p>

  <div hidden>
    <p> <%= @user.id %> </p>
  </div>
 
  

  <!-- This section will only be shown if the user is a treasurer (code 3) -->
  <% if @user.role_id == 3 %>
    <h1>Editing receipt</h1>
    <%= render "form", receipt: @receipt %>

  <!-- This section will only be shown if the user is the driver who uploaded the receipt -->
  <% elsif (@user.role_id == 1) and (@receipt.user_id == @user.id) and (@receipt.stage == 2) %>
    <h1>I got my refund</h1>
    <%= render "form_driver_2", receipt: @receipt %>

  <!-- This section is shown to anyone else-->
  <% else %>
    <h1> Only the treasurer can edit receipts </h1>
  <% end %>

  <br>

  <div>
    <%= link_to "Show this receipt", @receipt %> |
    <%= link_to "Back to receipts", receipts_path %>
  </div>
 
</ul>



