<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Receipts | TAMU Wakeboarding" %>
</head>
<<<<<<< HEAD
  
<p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>Reciepts</pageTitleHolder>
</h1>
  
<div hidden>
  <p> <%= @user.id %> </p>
</div>
  
=======

<%= render "/navbar"%>
  
<p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>Reciepts</pageTitleHolder>
</h1>
  
<div hidden>
  <p> <%= @user.id %> </p>
</div>
  
>>>>>>> origin/main
<mainContentHolder>

  <!-- This section will only be shown if the user is a driver (code 1) -->
  <% if @user.has_role?("Driver") %>
    <h3 class="text-3xl mb-4"> Receipts for <%= @user.first_name%> <%= @user.last_name%> : </h3>
	
    <p class="font-bold"> User ID: <%= @user.id%></p>

    <%= link_to "Create new receipt", new_receipt_path %>
 
    <div id="stage_1">
	  <p class="font-bold">Pending Treasurer Approval (Stage 1)</p>
    <% @receipts.where(stage: 1, admin_id: @user.id).each do |receipt| %>
      <p>
        <strong>Receipt ID:</strong>
        <%= receipt.id %>
        </br>
        <%= link_to "Show this receipt", receipt %>
      </p>
    <% end %>
    </div>
    
    <div id="stage_2">
	  <p class="font-bold">Approved By Treasurer, Awaiting Refund (Stage 2)</p>
      <% @receipts.where(stage: 2, admin_id: @user.id).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>

    <div id="stage_3">
	  <p class="font-bold">Refund Received (Stage 3)</p>
      <% @receipts.where(stage: 3, admin_id: @user.id).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>
  
  <!-- This section will only be shown if the user is a treasurer (code 3) -->
  <% elsif @user.has_role?("Treasurer") %>
  
    <h3 class="text-3xl mb-4"> Treasurer Page, Showing All Receipts: </h3>
    

    <%= link_to "New receipt", new_receipt_path %>
 
    <div id="stage_1">
    <p class="font-bold"> Pending Treasurer Approval (Stage 1)</p>
    <% @receipts.where(stage: 1).each do |receipt| %>
      <p>
        <strong>Receipt ID:</strong>
        <%= receipt.id %>
        </br>
        <%= link_to "Show this receipt", receipt %>
      </p>
    <% end %>
    </div>
    
    <div id="stage_2">
      <p class="font-bold"> Approved By Treasurer, Awaiting Refund (Stage 2)</p>
      <% @receipts.where(stage: 2).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>

    <div id="stage_3">
      <p class="font-bold"> Refund Received (Stage 3)</p>
      <% @receipts.where(stage: 3).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>

  <!-- This section will only be shown if the user isn't -->
  <% else %>
    <p class="font-bold"> Welcome to the treasury! Only drivers or the treasurer can see this page. If you think you should be seeing this page but cannot, please contact your administrator </p>

  <% end %>

</mainContentHolder>