<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <%= render "/navbar"%>
  
  <p class="bannerBox"></p>
  
  <div hidden>
    <p> <%= @user.id %> </p>
  </div>

  <!-- This section will only be shown if the user is a driver (code 1) -->
  <% if @user.role_id == 1 %>
    <h2> Receipts for <%= @user.first_name%> <%= @user.last_name%> </h2>
    <h3> User ID: <%= @user.id%></h3>

    <%= link_to "New receipt", new_receipt_path %>
 
    <div id="stage_1">
    <h2> Pending Treasurer Approval (Stage 1)</h2>
    <% @receipts.where(stage: 1, user_id: @user.id).each do |receipt| %>
      <p>
        <strong>Receipt ID:</strong>
        <%= receipt.id %>
        </br>
        <%= link_to "Show this receipt", receipt %>
      </p>
    <% end %>
    </div>
    
    <div id="stage_2">
      <h2> Approved By Treasurer, Awaiting Refund (Stage 2)</h2>
      <% @receipts.where(stage: 2, user_id: @user.id).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>

    <div id="stage_3">
      <h2> Refund Received (Stage 3)</h2>
      <% @receipts.where(stage: 3, user_id: @user.id).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>
  
  <!-- This section will only be shown if the user is a treasurer (code 3) -->
  <% elsif @user.role_id == 3 %>
    <h2> Treasurer Page, Showing All Receipts </h2>

    <%= link_to "New receipt", new_receipt_path %>
 
    <div id="stage_1">
    <h2> Pending Treasurer Approval (Stage 1)</h2>
    <% @receipts.where(stage: 1).each do |receipt| %>
      <p>
        <strong>Receipt ID:</strong>
        <%= receipt.id %>
        </br>
        <%= link_to "Show this receipt", receipt %>
      </p>
    <% end %>
    </div>
    
    <div id="stage_2">
      <h2> Approved By Treasurer, Awaiting Refund (Stage 2)</h2>
      <% @receipts.where(stage: 2).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>

    <div id="stage_3">
      <h2> Refund Received (Stage 3)</h2>
      <% @receipts.where(stage: 3).each do |receipt| %>
        <p>
          <strong>Receipt ID:</strong>
          <%= receipt.id %>
          </br>
          <%= link_to "Show this receipt", receipt %>
        </p>
      <% end %>
    </div>

  <!-- This section will only be shown if the user isn't -->
  <% else %>
    <h2> Welcome to the treasury! Only drivers or the treasurer can see this page. If you think you should be seeing this page but cannot, please contact your administrator </h2>

  <% end %>


 
</ul>