<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <a href="#"><banner>TAMU WAKE</banner></a>
  
  <a href="#"><p class="navbar currentPage navbarRightEnd"><%= link_to "Reciepts", receipts_path %></p></a>
  <a href="#"><p class="navbar"><%= link_to "Members", users_path %></p></a>
  <a href="#"><p class="navbar"> <%= link_to "Account", accounts_path %></p></a>
  <a href="#"><p class="navbar navbarLeftEnd"><%= link_to "Rides", wakeboard_sets_path %></p></a>
  
  <p class="bannerBox"></p>

  <div hidden>
    <%= @user = User.find_by(:email => current_admin.email) %>
    <p> <%= @user.id %> </p>
  </div>
  
  <h1>New receipt</h1>

  <!-- This section will only be shown if the user is a driver (code 1) -->
  <% if @user.role_id == 1 %>
    <%= render "form_driver", receipt: @receipt %>
  
  <!-- This section will only be shown if the user is a driver (code 1) -->
  <% elsif @user.role_id == 3 %>
    <%= render "form", receipt: @receipt %>

  <!-- This section will only be shown if non driver or treasurer attempts to make -->
  <% else %>
    <h1> Only drivers and treasurer can make receipts </h1>
  <% end %>

  <br>

  <div>
	<%= link_to "Back to receipts", receipts_path %> |
  </div>

</ul>











