<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <a href="#"><banner>TAMU WAKE</banner></a>
  
  <a href="#"><p class="navbar navbarSettings">Settings</p></a>
  <a href="#"><p class="navbar currentPage"><%= link_to "Reciepts Index", receipts_path %></p></a>
  <a href="#"><p class="navbar"><%= link_to "Users index", users_path %></p></a>
  <a href="#"><p class="navbar">Account</p></a>
  <a href="#"><p class="navbar"><%= link_to "Wakeboard sets", wakeboard_sets_path %></p></a>
  <a href="#"><p class="navbar navbarHome">Home</p></a>
  
  <p class="bannerBox"></p>
  
  <h1>New receipt</h1>

  <%= render "form", receipt: @receipt %>

  <br>

  <div>
	<%= link_to "Back to receipts", receipts_path %> |
  </div>

</ul>











