<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<%= render "/navbar"%>
  
<p class="bannerBox"></p>

<div hidden>
  <p> <%= @user.id %> </p>
</div>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>New Receipt</pageTitleHolder>
</h1>
  
<mainContentHolder>

  <!-- This section will only be shown if the user is a driver (code 1) -->
  <% if @user.role_id == 1 %>
    <%= render "form_driver", receipt: @receipt %>
  
  <!-- This section will only be shown if the user is a driver (code 1) -->
  <% elsif @user.role_id == 3 %>
    <%= render "form", receipt: @receipt %>

  <!-- This section will only be shown if non driver or treasurer attempts to make -->
  <% else %>
    <h1> Only drivers and treasurer can make receipts </h1>
  <% end %>

  <br>

  <div>
	<%= link_to "Back to receipts", receipts_path %> |
  </div>

</mainContentHolder>