<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Receipt #" + @receipt.id.to_s + " | TAMU Wakeboarding" %>
</head>

<div hidden>
  <p> <%= @user.id %> </p>
  <p> <%= @receipt.admin_id %> </p>
</div>



<body>
  <%= render "/navbar"%>

  <p class="bannerBox"></p>

  <h1 class="text-5xl mb-5 text-center">
    <pageTitleHolder>Recipt</pageTitleHolder>
  </h1>

  <mainContentHolder>

    <!-- This section will only be shown if the user is a treasurer (code 3) -->
    <% if @user.has_role?("Treasurer") %>
      <%= render @receipt %>
      <%= link_to "Edit this receipt", edit_receipt_path(@receipt) %> |
      <%= link_to "Back to receipts", receipts_path %>
      <%= button_to "Destroy this receipt", @receipt, method: :delete %>

    <!-- This section will only be shown if the user is the driver who uploaded the receipt (code 2) -->
    <% elsif @user.has_role?("Driver") and (@receipt.admin_id == @user.id) %>
      <%= render @receipt %>
      <% if @receipt.stage == 2 %>
        <%= link_to "I got my refund", edit_receipt_path(@receipt) %> |
      <% end %>
      <%= link_to "Back to receipts", receipts_path %>

    <!-- This section will be shown to all other users-->
    <% else %>
      <h1> You are unauthorized to see this page </h1>
      <%= link_to "Back to receipts", receipts_path %>
    <% end %>
    
  </mainContentHolder>
</body>