<%= form_with(model: wakeboard_set) do |form| %>
  <% if wakeboard_set.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wakeboard_set.errors.count, "error") %> prohibited this wakeboard_set from being saved:</h2>

      <ul>
        <% wakeboard_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :scheduled_date, style: "display: block" %>
    <%= form.datetime_field :scheduled_date %>
  </div>

  <br>
  <div>
    <%= form.label :secondary_driver, style: "display: block" %>
    <%= form.collection_select(:user_id, Admin.where.not("id = ?", current_admin.id), :id, :first_name) %>
  </div>
  <br>

  <div>
    <%= form.submit "Create Set" %>
  </div>
<% end %>
