<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Edit Set | TAMU Wakeboarding" %>
</head>

<%= render "/navbar"%>
  
<p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>Editing Wakeboard Set</pageTitleHolder>
</h1>
  
<mainContentHolder>

  <%= render "form", wakeboard_set: @wakeboard_set %>

  <br>

  <div>
    <%= link_to "Show this wakeboard set", @wakeboard_set %> |
    <%= link_to "Back to wakeboard sets", wakeboard_sets_path %>
  </div>
  
</mainContentHolder>
