<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
</head>

<ul>

  <a href="#"><banner>TAMU WAKE</banner></a>
  
  <a href="#"><p class="navbar navbarSettings">Settings</p></a>
  <a href="#"><p class="navbar"><%= link_to "Reciepts Index", receipts_path %></p></a>
  <a href="#"><p class="navbar"><%= link_to "Users index", users_path %></p></a>
  <a href="#"><p class="navbar">Account</p></a>
  <a href="#"><p class="navbar currentPage"><%= link_to "Wakeboard sets", wakeboard_sets_path %></p></a>
  <a href="#"><p class="navbar navbarHome">Home</p></a>
  
  <p class="bannerBox"></p>

  <%= render @wakeboard_set %>

  <div>
    <%= form_with url: join_wakeboard_set_path, method: "post" do |form| %>
      <% users = User.where("id != ?", @wakeboard_set.user_id).order(:firstname) %>
      <%= form.select :user_id, users.map { |user| [user.firstname, user.id] } %>
      <%= form.submit "Join", disabled: @wakeboard_set.rider_limit <= @wakeboard_set.current_rider_count %>
    <% end %>
  </div>

  <br>

  <div>
    <h3>Current Riders</h3>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <% @riders.each do |rider| %>
        <tr>
          <td><%= rider.user.firstname + " " + rider.user.lastname %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <br>

  <div>
    <%= link_to "Edit set", edit_wakeboard_set_path(@wakeboard_set) %> |
    <%= link_to "Back to set list", wakeboard_sets_path %>

    <%= button_to "Delete this set", @wakeboard_set, method: :delete %>
  </div>
  
</ul>