
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Welcome | TAMU Wakeboarding" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <div class="w-full flex">
      <%= render "shared/navbar"%>
    </div>

    <% if flash[:error]%>
      <div class="px-5 py-2 text-lg font-mono flex flex-row items-center"><i class="fa-solid fa-triangle-exclamation text-red-600 text-2xl mr-2"></i> <%= flash[:error] %></div>
    <% end %>

    <% if flash[:alert]%>
      <div class="px-5 py-2 text-lg font-mono flex flex-row items-center"><i class="fa-solid fa-triangle-exclamation text-yellow-600 text-2xl mr-2"></i> <%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice]%>
      <div class="px-5 py-2 text-lg font-mono flex flex-row items-center"><i class="fa-solid fa-anchor text-2xl mr-2"></i> <%= flash[:notice] %></div>
    <% end %>

    <% if flash[:success]%>
      <div class="px-5 py-2 text-lg font-mono flex flex-row items-center"><i class="fa-regular fa-circle-check text-emerald-500 text-2xl mr-2"></i> <%= flash[:success] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>